<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/painel">
      <i class="fas fa-users-cog"></i> Painel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">


        <li class="nav-item">
          <a class="nav-link" routerLink="/add" routerLinkActive="">
            <i class="fas fa-plus-circle"></i> Add </a>
        </li>



        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="">
            <i class="fas fa-door-open"></i> Sair </a>
        </li>



      </ul>
    </div>
  </div>
</nav>

<div class="container">





  <div class="row justify-content-center">
    <h4>Sensores Cadastrados</h4>

  </div>



  <div class="d-flex justify-content-end">
    <button routerLink="/painel">
      <i class="fas fa-sync-alt"></i> </button>
  </div>

  <div class="form-group">
    <label for="sel1"  >Selecione nome do cliente: </label>
    <select class="form-control" [(ngModel)]="modelPainel.nome" (change)="consulta()" name="painel">
      <option> Pai </option>
      <option> Filho </option>
      <option> Teste </option>
      <option> teste </option>
    </select>
</div>


  <table class="table table-striped">

    <thead>

      <tr>
        <th scope="col">#</th>

        <th scope="col">Name Sensor</th>
        <th scope="col">MAC</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Teste</td>
        <td>FF:FF:FF:FF:FF:FF</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>

        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

</div>